Source: feedgnuplot
Section: science
Priority: optional
Build-Depends: debhelper (>= 9), libstring-shellquote-perl, perl, gawk, gnuplot, libipc-run-perl, liblist-moreutils-perl, libvnlog-perl, vnlog
Maintainer: Debian Science Maintainers <debian-science-maintainers@lists.alioth.debian.org>
Uploaders: Dima Kogan <dkogan@debian.org>
Standards-Version: 3.9.4
Homepage: https://github.com/dkogan/feedgnuplot
Vcs-Browser: https://salsa.debian.org/science-team/feedgnuplot
Vcs-Git: https://salsa.debian.org/science-team/feedgnuplot.git

Package: feedgnuplot
Architecture: all
Depends: ${misc:Depends}, ${perl:Depends},
         liblist-moreutils-perl,
         gnuplot-qt | gnuplot-x11 | gnuplot-nox | gnuplot5-qt | gnuplot5-x11 | gnuplot5-nox | gnuplot
Suggests: vnlog
Description: Pipe-oriented frontend to Gnuplot
 Flexible, command-line-oriented frontend to Gnuplot. Creates plots from data
 coming in on STDIN or given in a filename passed on the commandline. Various
 data representations are supported, as is hardcopy output and streaming display
 of live data.
